@charset "UTF-8";

/*main*/
.todo_main_area{
	background-color:#fafafa !important;
	padding-top:50px;
}
.todo_main_area .todo_main{
	background-color:#fff;
	max-width: 360px;
	min-height:600px;
    margin: auto;
    border: 1px solid #333;
    border-radius: 5px;
    position:relative;
}

.welcome_area{
	width: 100%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.todo_total {
	display: inline-block;
	position: static;
	width: 40%;
	height: 100px;
	margin: 10px;
	background-color: light grey;
	border: 2px solid black;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 10px;
}

.comp_btn {
	display: inline-block;
	position: static;
	height: 20px;
	width: 20px;
	border: 1px solid black;
	border-radius: 5px;
	back-ground: white;
}

.todo_footer {
	position: absolute;
    bottom: 0;
}

.nav-link {
	text-decoration: none;
	display: inline-block;
	position: static;
}

.mt-4 {
	text-align: center;
}

i {
	color: #ff6f6f;
}