<div class="todo_nav_box">
	<nav class="todo_nav">
		<ul th:if="${session.user_info} == null">
			<li>
				<a class="nav-link" href="/signin">Sign in</a>
			</li>
		</ul>
		<ul th:if="${session.user_info} !=null">
			<li>
				<a class="" href="/todo">Add </a>
			</li>
			<li>
				<a href="javascript:;" onclick="logout();">Sign out </a>
			</li>
		</ul>
	</nav>
</div>
<script type="text/javascript" th:inline="javascript">
	function logout() {
		var con = confirm("Sign out?");
		if (con == true) {
			location = "/signout";
		} else {
			return false;
		}
	}
</script>